:root {
  --color-btn: #c6e7f1;
  --bgColor-btn: #d68400;
  --color-bt: #c6e7f1;
  --bgColor-bt: #d68400;
  --color-bt2: #c6e7f1;
  --bgColor-bt2: #d68400;
  --color-none: rgba(#fff, 0.);
  --text-size: 18px;
  --text-size-res: 16px;
  --tittle-size: 18px;
  --tittle-size-res: 30px;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
